$primary-color: #444;
$secondary-color: #dd8716;
$show-home-image: true;
$home-image: url(../img/background.jpg); // add ltr<span>Photo by <a href="https://unsplash.com/@ibrahimmushan?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Ibrahim Mushan</a> on <a href="https://unsplash.com/t/nature?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
$background-opacity: .7;

// media query mixins

@mixin mediaSm {
    @media screen and (max-width: 500px){
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170) {
        @content;
    }
}
@mixin mediaXL {
    @media screen and (min-width: 1171px){
        @content;
    }
}